@charset "UTF-8";

/* ページ全体 */
body{
	background-color:#f0f0f0;
    font-family: "Noto Sans JP";
}

/* ナビゲーション_エリア */
.navbtn-positioning {
    position: fixed;		/* 絶対位置 */
	right: 17px;		/* 右17px */
}
ul.navlink-positioning {
    position: fixed;
	right: 150px;
}

/* ジャンボトロン_エリア */
.jt-image {
    background: url("../images/jumbotron-background-image_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}
.jt-extend {
    height: 85vh;
    min-height: 350px;
}
.jt-container {
    position: relative;
    top: 100px;
	padding-left: 30px;
    padding-right: 30px;
}
br.h1br{
	display:none;
}

/* お知らせ_エリア */
.rss_area {
    padding: 30px;
    background-color: #fff;
}
.rss_area_title {
    text-align: center;
    font-size: 32px;
    color: #51656E;
    padding-top: 0px;
}
.rss_area_title_en{
    text-align: center;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}
.rss_date {
    float: left;
    width: 25%;
}
.rss_title {
    float: left;
    width: 75%;
}

/* facebook_エリア */
.facebook_area {
	width: 100%;
    text-align: center;
}

/* instagram_エリア */
.instagram_area_title {
    padding-top: 50px;
    font-size: 34px;
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #4C646E;
    color: #4C646E;
    max-width: 1024px;
}




/* スクリーンサイズ横が991px以下の場合 */
@media screen and (max-width:991px) {
	.navbtn-positioning {
	    position: fixed;
		right: 80px;
		top: 9px;
	}
    /*    h1brクラスが付加されているbrタグ要素に適応    */
    br.h1br {
        /* block:要素をブロック表示に指定 */
        display:block;
    }
}